<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {{!-- <title>Document</title> --}}
</head>
<body>
    <div>
        <p>Hi, {{firstName}}</p>
        <p>Your new password is {{password}} . Please dont forget to change your password once you login in the settings.</p>
    </div>
    <div>
        <p>Thanks,</p>
        <p>Unavagam team.</p>
    </div>
</body>
</html>